


.app__main{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex:1;
}


.app__main{
	max-width: 1200px;
	margin: 0px auto;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-direction: column;
	flex:1;
}

.container{
	max-width: 1200px;
	margin: 0px auto;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-direction: column;
	flex:1;
	// background-color: blue;

}


@media(max-width:1200px){
  .container{
    max-width:970px;
    // background-color: red;
  }
}

@media(max-width:922px){
  .container{
    max-width:750px;
    // background-color: green;
  }
}

@media(max-width:767px){
  .container{
    max-width:none;
    // background-color: violet;
  }
}
